name: Lambda Kafka - Docker Publish
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/build-push-action@v5
        with:
          context: ./lambda-kafka
          push: true
          tags: |
            magyodev/modulo3-lambda-kafka:latest
            magyodev/modulo3-lambda-kafka:${{ github.sha }}
